/* Genral Styling */
*{
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Playfair Display', serif;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conatiner{    
    margin: 0;
    padding: 10px;
}
/* Timer Component */
.timerContainer{
    padding: 10px;
    min-width: 85vw;
    min-height: 70vh;
}
/* Time Display conatiner */
.timeDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.time{
    font-size: 100px;
}
.active{
    color: white;
}
.inActive{
    color:rgba(255, 255, 255, 0.548);
}
.ms {
    font-size: 50px;
}
/* Buttons Component */
.buttonsContainers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.buttonsContainers button{
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: rgba(255, 255, 255, 0.548);
    border: 1px solid grey;
}
.buttonsContainers button :hover{
    cursor: pointer;
    color: white;
}
button:focus {
    outline: none;
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.925);
}
/* Media qureies */
@media(max-width:525px){
    .time{
        font-size: 75px;
    }
    .ms{
        font-size: 30px;
    }
}
@media(max-width:400px){
    .time{
        font-size: 50px;
    }
    .ms{
        font-size: 25px;
    }
}