/* Genral Styling */
*{
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Playfair Display', serif;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 97vh;
    color: white;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}